<h2>Totals</h2>
<div>
  Billable amount: <%= number_to_currency total_billable %>
</div>
<div>
  Line item count: <%= number_with_delimiter total_line_items %>
</div>
<div><%= filter_message %></div>

<div class="line-item-header line-item-row">
  <div class="col name">Name</div>
  <div class="col campaign-name">Campaign</div>
  <div class="col booked-amount">Booked</div>
  <div class="col actual-amount">Actual</div>
  <div class="col adjustments">Adjustments</div>
  <div class="col billable">Billable</div>
</div>
