<div>
  Total billable amount: <%= number_to_currency total_billable %>
</div>
<div>
  Total line items amount: <%= number_with_delimiter total_line_items %>
</div>

<div class="line-item-header">
  <div class="name">Name</div>
  <div class="campaign-name">Campaign</div>
  <div class="booked-amount">Booked</div>
  <div class="actual-amount">Actual</div>
  <div class="adjustments">Adjustments</div>
  <div class="billable">Billable</div>
</div>
